:root{
    --yellow:#FABA00;
    --yellow-1:#fffbf0;
    --White:#FFFFFF;
    --gray-100:#667085;
    --red:#CF5555;
    /* --black-50:#5a5852;
    --black-40:#76736b;
    --black-80:#1a1404;
    --black-90:#545962;
    --black-100:#1D1D1B; */
    --border:1px solid #f5f3f3;
    --black:#000000;
}